[submodule "system-design-interview"]
	path = system-design-interview
	url = https://github.com/checkcheckzz/system-design-interview.git
[submodule "papers-we-love"]
	path = papers-we-love
	url = https://github.com/papers-we-love/papers-we-love.git
[submodule "interviews"]
	path = interviews
	url = https://github.com/kdn251/interviews.git
